.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.personPanelHolder{
  /* width: 100%; */
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}




table, th, td {
  border: 1px solid#ffffff;
  vertical-align: middle;
  padding: 5px;
}



.addItemCol{
  text-align: center;
}

.btn {
  display: inline-block;
}

/*  */
/* .addItemButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.addItemButton:hover {
	background-color:#476e9e;
}
.addItemButton:active {
	position:relative;
	top:1px;
} */

/*  */

.personPanel {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  margin-left: -10px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  height: 10vh;
  /* background-color: rgba(119, 119, 119, 0.658); */
  width: 50%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0%;
}

.receiptDisplay{
  text-align: center;
  overflow-x: hidden;
  border-right:dashed #ffffff 1px; 
}



.fileInput{
  display: flex;
  justify-self: center;
  margin-bottom: 1rem;
}

.btn,
.btn-success,
.btn-success.active,
.btn-success:not(:disabled):not(.disabled).active{
  /* border-radius: 1.5rem; */
  /* color: rgb(60, 60, 60) !important; */
  /* background-color: #ffbb00af !important; */
  color: azure;
  /* border-radius: 1.5rem !important; */
  border-color: rgb(0, 0, 0) !important;
}

.btn-success{
  background: #4caf50;
  background-image: -webkit-linear-gradient(top, #4caf50, #49874b);
  background-image: -moz-linear-gradient(top, #4caf50, #49874b);
  background-image: -ms-linear-gradient(top, #4caf50, #49874b);
  background-image: -o-linear-gradient(top, #4caf50, #49874b);
  background-image: linear-gradient(to bottom, #4caf50, #49874b);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn-success:hover {
  background: #4caf50;
  background-image: -webkit-linear-gradient(top, #4caf50, #4caf50);
  background-image: -moz-linear-gradient(top, #4caf50, #4caf50);
  background-image: -ms-linear-gradient(top, #4caf50, #4caf50);
  background-image: -o-linear-gradient(top, #4caf50, #4caf50);
  background-image: linear-gradient(to bottom, #4caf50, #4caf50);
  text-decoration: none;
}

.delete-btn {
  background: #dc3545;
  background-image: -webkit-linear-gradient(top, #dc3545, #c72031);
  background-image: -moz-linear-gradient(top, #dc3545, #c72031);
  background-image: -ms-linear-gradient(top, #dc3545, #c72031);
  background-image: -o-linear-gradient(top, #dc3545, #c72031);
  background-image: linear-gradient(to bottom, #dc3545, #c72031);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: rgb(0, 0, 0) !important;
  /* margin-left: 0px; */
  margin-top: 5px;
  /* display: inline; */

}
.delete-btn:hover {
  background: #aa2a36;
  /* background-image: -webkit-linear-gradient(top, #db515f, #bd4f5c);
  background-image: -moz-linear-gradient(top, #db515f, #bd4f5c);
  background-image: -ms-linear-gradient(top, #db515f, #bd4f5c);
  background-image: -o-linear-gradient(top, #db515f, #bd4f5c);
  background-image: linear-gradient(to bottom, #db515f, #bd4f5c); */
  text-decoration: none;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.email-btn {
  background: #4caf50;
  background-image: -webkit-linear-gradient(top, #4caf50, #4caf50);
  background-image: -moz-linear-gradient(top, #4caf50, #4caf50);
  background-image: -ms-linear-gradient(top, #4caf50, #4caf50);
  background-image: -o-linear-gradient(top, #4caf50, #4caf50);
  background-image: linear-gradient(to bottom, #4caf50, #4caf50);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: rgb(0, 0, 0) !important;
  /* margin-right: -15px; */
  margin-top: 5px;
  /* display: inline; */
}
.email-btn:hover {
  background: #218838;
  /* background-image: -webkit-linear-gradient(top, #db515f, #bd4f5c);
  background-image: -moz-linear-gradient(top, #db515f, #bd4f5c);
  background-image: -ms-linear-gradient(top, #db515f, #bd4f5c);
  background-image: -o-linear-gradient(top, #db515f, #bd4f5c);
  background-image: linear-gradient(to bottom, #db515f, #bd4f5c); */
  text-decoration: none;
}

.email-btn:focus{
  box-shadow: -5 0 0 0.2rem rgba(72,180,97,.5);
}

.spinnerButtons{

  padding: 6px 6px !important;
  text-decoration: none;
  line-height: 1px !important;
  cursor: pointer;
  width: 24px !important;
  height: 24px !important;
  text-align: center !important;
  background: #4caf50 !important;
  background-image: -webkit-linear-gradient(top, #4caf50, #4caf50);
  background-image: -moz-linear-gradient(top, #4caf50, #4caf50);
  background-image: -ms-linear-gradient(top, #4caf50, #4caf50);
  background-image: -o-linear-gradient(top, #4caf50, #4caf50);
  background-image: linear-gradient(to bottom, #4caf50, #4caf50);
  /* display: inline-block !important; */
}

.spinnerButtons:hover {
  background: #218838 !important;
  text-decoration: none !important;
}

.spinnerButtons:focus{
  box-shadow: -5 0 0 0.2rem rgba(72,180,97,.5) !important;
}

.row{
  margin-right: 0px !important;
  margin-left: 0px !important;
  background-color: #10316b !important;
  /* background-image: linear-gradient(to top, #3f4c66 0%, #1c2638 1%, #12397c 100%); */
  color: azure;
  height: 100vh;
}

.col-md-6{
  padding: 1.5rem;
  padding-top: 0;
  overflow-y: scroll;
  height: 100%;
}

.fileInputGroup{
  outline: 1px dashed azure;
  outline-offset: 10px;
}

td,th{
  color: azure;
}

input[name="quantity"]{
  inline-size: 3rem;
}

input[name="price"]{
  inline-size: 5rem;
}

input[name="tax"]{
  inline-size: 2rem;
  color: black;
  text-align: center;
}

/* .money{
  text-align: right;
} */

.quantityRow{
  padding: 5px 5px;
  width: 78px;
  display: inline-block;
}

.input-group-text{
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff !important;
  text-align: center;
  white-space: nowrap;
  background-color: #49924c !important;
  border: 1px solid #000000 !important;
  border-radius: .25rem;
}

.userTable{
  margin-top: 1rem;
}

/* .personButtons{
  display: inline-block;
} */